* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background:linear-gradient(-45deg, #EE7752, #E73C73, #4506aa, #23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    color: white;
    font-family: 'Roboto', sans-serif;

}
@keyframes change{                       /*color change positions*/
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button {
    color: #E73C73;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition : all 0.5 ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .complete-btn {
    background: orangered;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: lawngreen;
}

.todo-item { 
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {         /*removes the option of clicking on the icons itself class trash and check*/
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}